<section>
    <form action="">
        <input type="text" placeholder="Filter by City">
        <button class="primary" type="button">Search</button>
    </form>
</section>
<section class="result">
    <app-housing-location *ngFor="let housingLocation of housingLocationList" [housingLocation]="housingLocation"> <!-- app-nama-component -->

    </app-housing-location>
</section>

<!-- 
<h1>Hello World!</h1>
<p>Wendy Steven - 2428240056P</p>
<p>Hari ini kita belajar menggunakan Framework Angular JS</p> -->
