<%- include('layout/master',
    {title: title,
    body: `
        <h1>Selamat Datang di Website Pariwisata Palembang</h1>
        <p>Ini adalah halaman website official Pariwisata Palembang. Anda dapat memesan paket wisata pada Website ini.
            <br><b>Selamat menikmati keindahan wisata Palembang</b></p>
    `})
%>